@page
@model MyPersonalDiary.com.Pages.DiaryNotes.CreateDiaryNoteWizardModel
@{
    ViewData["Title"] = "Create diary note";
}

@section Styles
{

    <link href="~/css/multi-step/multi-step.css" rel="stylesheet" />
    <link href="~/font-awesome/css/fontawesome.css" rel="stylesheet" />
    <link href="~/font-awesome/css/solid.css" rel="stylesheet" />
}

<h3>Add today's Diary note</h3>
<hr />

<form method="post" id="create_diary_entry">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div id="msCreateNew">
        <div class="card-navigation">
            <div class="step start step-focus" data-target="#card1">
                <a href="#">
                    Title &nbsp;<span class="fa fa-edit"></span>
                </a>
            </div>
            <div class="step" data-target="#card2">
                <a href="#">
                    Summary&nbsp;<span class="fa fa-edit"></span>
                </a>
            </div>
            <div class="step end" data-target="#card3">
                <a href="#">
                    Details&nbsp;<span class="fa fa-edit"></span>
                </a>
            </div>
        </div>

        <div class="card-container">
            <div class="cardx start card-focus" id="card1" style="display:block">
                <textarea class="form-control" placeholder="Title" rows="5" asp-for="DiaryNoteVo.Title"></textarea>
                <span asp-validation-for="DiaryNoteVo.Title" class="text-danger"></span>
            </div>

            <div class="cardx" id="card2" style="display:none">
                <textarea class="form-control" placeholder="Summary" rows="10" asp-for="DiaryNoteVo.Summary"></textarea>
                <span asp-validation-for="DiaryNoteVo.Summary" class="text-danger"></span>
            </div>

            <div class="cardx" id="card3" style="display:none">
                <textarea class="form-control" placeholder="Details" rows="15" asp-for="DiaryNoteVo.Details"></textarea>
                <span asp-validation-for="DiaryNoteVo.Details" class="text-danger"></span>
            </div>

            <div class="cardx end" id="card4" style="display:none">
                <p id="card1_data"></p>
                <p id="card2_data"></p>
                <p id="card3_data"></p>
            </div>

            <div class="card-actions">
                <a class="btn btn-secondary previous disabled" href="#">Previous</a>
                <a class="btn btn-secondary next" href="#">Next</a>
                <input type="submit" class="btn btn-primary completed" style="display:none" value="Finish" />
                <a href="#" class="btn btn-primary savedraft" style="display:none">Save draft</a>
            </div>
            <div style="clear:both"></div>
        </div>
    </div>
    @Html.HiddenFor(x => x.DiaryNoteVo.IsDraft)
</form>

@section Scripts
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/multi-step/multiStep.js"></script>
    <script>

        // convert form to json-object
        $.fn.serializeObject = function () {
            var o = {};
            var a = this.serializeArray();
            $.each(a, function () {
                if (o[this.name]) {
                    if (!o[this.name].push) {
                        o[this.name] = [o[this.name]];
                    }
                    o[this.name].push(this.value || '');
                } else {
                    o[this.name] = this.value || '';
                }
            });
            return o;
        };

        $(document).ready(function () {
            // validation

            $('#create_diary_entry').on('submit', function (e) {
                console.log('submitting form');
                var invalidControls = $(this).find('.input-validation-error');
                if (invalidControls.length > 0) {
                    console.log('Validation failed');
                    e.preventDefault();
                }
            });

            $('.next').on('click', function () {

                $form = $('#create_diary_entry');

                var data = $form.serializeObject();

                var request = {
                    method: 'POST',
                    data: data,
                    url: '@Url.Page("CreateDiaryNoteWizard")'
                };

                $.ajax(request)
                    .done(function (resposne) {
                        console.log(resposne);
                    })
                    .fail(function (errorResponse) {
                        console.log(errorResponse);
                    });
            });

        });

    </script>
}

